<!doctype html>
<html>
  <head>
    <title>Record Audio Test</title>
  </head>
  <body>
    <h1>Audio Recording Test</h1>
    <p>Talk for 3 seconds, then you will hear your recording played back</p>
    <script src="/Users/sbezawada/Documents/Workspace/MLE-COURSE/Capstone2/capstone_wakeword/templates/index.js"></script>
    <button id="action" name="action1" onclick="handleAction()">Record </button>
  <button id="Download" onclick="createDownloadLink(audio)">Start Downloading...</button>
  </body>
</html>
