<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spotify wake word detect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <header>
    <h1 style="color:lightblue;"><center> Spotify: Wake Word Detection</center></h1>
    </header>


  <body>
    <h1>Voice your command</h1>

    <div id="controls">
     <button id="recordButton">Record</button>
     <button id="pauseButton" disabled>Pause</button>
     <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>


  <p>Select a model from below:</p>
      <form id="form1" action="/model" method="POST" enctype="multipart/form-data">
          <select id="mySelect" name="models">
              <option value="MLP">MLP</option>
              <option value="CNN">CNN</option>
              <option value="LSTM">LSTM</option>

          </select>
          <input type="submit" value="Submit">
      </form>

      <div id="result">
          {% if models is defined %}
          Selected Model: {{ models }}
          {% endif %}
      </div>

      <p>Here is the prediction: {{ r1}}</p>
  </body>
</html>
